/**
 * Post Header Block Styles
 */

@import "../../../assets/scss/mixins";

.ucsc-post-header-block {
  display: flex;
  flex-direction: column;

  :where(p) {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.ucsc-post-header-block__columns-container {
  padding-block-end: var(--wp--preset--spacing--50);

  .has-global-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.ucsc-post-header-block__columns {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;

  @include media-query($wp-columns-unstack) {
    flex-direction: row;
    gap: var(--wp--preset--spacing--40);
  }
}

.ucsc-post-header-block__breadcrumb {
  padding-block-start: var(--wp--preset--spacing--50);
  padding-block-end: var(--wp--preset--spacing--30);

  a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    background-color: var(--wp--preset--color--ucsc-rubine-blue);
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 6px 1rem;
    border-radius: 30px;
    transition: color 0.25s ease;

    svg {
      opacity: 0.5;
    }
  }
}

.ucsc-post-header-block__header {
  width: 100%;
}

.ucsc-post-header-block__title {
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 18em;
  margin-inline-end: auto;
}

.ucsc-post-header-block__eyebrow {
  text-transform: uppercase;
  margin-block-end: 0.5rem;
}

.ucsc-post-header-block__excerpt {
  margin-block-start: 1rem;
}

.ucsc-post-header-block__meta {
  margin-block-start: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;

  [role="separator"] {
    width: 3px;
    height: 3px;
    background-color: currentColor;
    margin: -1px 0.5rem 1px;
    border-radius: 50%;
  }

  time {
    font-weight: 700;
  }
}

.ucsc-post-header-block__authors {
  a {
    font-weight: 700;
    text-decoration-color: var(--wp--preset--color--ucsc-primary-yellow);
  }
}

.ucsc-post-header-block__image-container {
  padding-top: var(--wp--preset--spacing--30);
  position: relative;

  .ucsc-post-header-block--horizontal & {
    @include media-query($wp-columns-unstack) {
      padding-top: 0;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: calc(50% + var(--wp--preset--spacing--30));
    background: var(--wp--preset--color--ucsc-primary-blue);
    position: absolute;
    top: 0;
    z-index: -1;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.ucsc-post-header-block__figure {
  margin-block-start: 0;
  margin-block-end: 0;

  .ucsc-post-header-block--horizontal & {
    background-color: var(--wp--preset--color--ucsc-primary-blue);

    @include media-query($wp-columns-unstack) {
      flex: 0 0 40%;
    }
  }

  figcaption {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--wp--preset--color--dark-gray);

    .ucsc-post-header-block--horizontal & {
      color: var(--wp--preset--color--white);
      margin-block-end: 0;
    }

    @include media-query($wp-columns-unstack) {
      margin-block-start: 1rem;
      margin-block-end: 1rem;
    }
  }
}

.ucsc-post-header-block__attribution {
  font-style: italic;
  display: flex;

  svg {
    margin: 1px 8px -1px 0;
  }
}
