.ucsc-social-sharing-wrapper {
  padding-block-start: var(--wp--preset--spacing--20);
  margin-block-end: var(--wp--preset--spacing--30);

  h2 {
    font-size: var(--wp--preset--font-size--one);
    text-transform: uppercase;
    color: var(--wp--preset--color--ucsc-primary-blue);
    line-height: 1.25;
    letter-spacing: 0.2em;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  .wp-block-outermost-social-sharing {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
