<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"className":"content-region","layout":{"inherit":true}} -->
<main class="wp-block-group content-region" style="margin-top:var(--wp--preset--spacing--50)">

    <h1>All Photos of the Week</h1>

    <!-- wp:ucsc-custom-functionality/photos-week-loop {"name":"ucsc-custom-functionality/photos-week-loop","data":{},"mode":"preview"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->