/**
 * Press Inquiries Block Styles
 */

.ucsc-press-inquiries-block__inner {
  border-bottom: 1px solid var(--wp--preset--color--light-gray);
  padding-block-start: var(--wp--preset--spacing--20);
  padding-block-end: var(--wp--preset--spacing--20);
}

.ucsc-press-inquiries-block__toggle {
  background: none;
  border: 0 none;
  padding: 4px 2px 4px 0;
  margin: -4px 0;
  outline: none;
  color: var(--wp--preset--color--almost-black);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    transition: transform 0.25s ease;
    transform-origin: 75% 75%;
    position: relative;
    top: -4px;
  }

  &:hover,
  &:focus-visible,
  &[aria-expanded='true'] {
    color: var(--wp--preset--color--ucsc-secondary-blue);
  }

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }

  &[aria-expanded='true'] {
    &::after {
      transform: rotate(-135deg);
    }
  }
}

.ucsc-press-inquiries-block__container {
  display: grid;
  transition: grid-template-rows 0.5s ease-in-out;
  grid-template-rows: 1fr;
  
  &[inert] {
    grid-template-rows: 0fr;
  }
}

.ucsc-press-inquiries-block__content {
  overflow: hidden;
}