@import "../../../assets/scss/mixins";

/**
 * Photos Of The Week Archive
 */

.post-type-archive-photo_of_the_week {
  .ucsc__post-query-loop {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--50);

    .photo-of-the-week {
      margin-block-start: 0;
    }
  }
}

.photo-of-the-week-page-title {
  padding-top: var(--wp--preset--spacing--40);
  padding-bottom: var(--wp--preset--spacing--40);
  margin-bottom: var(--wp--preset--spacing--50);
}

.photo-of-the-week {
  display: flex;
  flex-direction: column;
  gap: var(--wp--preset--spacing--20);

	@include media-query($wp-columns-unstack) {
		flex-direction: row;
    align-items: center;
	}

  figcaption {
    flex: 1;
  }
}

.photo-of-the-week__image {
  max-width: 100%;
  
  @include media-query($wp-columns-unstack) {
    width: 45%;
  }
}

.photo-of-the-week__caption {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--wp--preset--spacing--20);
  border-bottom: 1px solid var(--wp--preset--color--light-gray);
}

.photo-of-the-week__title {
  margin-block-start: 0;
  margin-block-end: 0;
}

.photo-of-the-week__author {
  display: flex;
  align-items: center;
  margin-block-start: 4px;
  margin-block-end: 0;
  color: #222;
  font-style: italic;
  gap: 8px;

  svg {
    opacity: 0.9;
    margin-top: -2px;
  }
}

.photo-of-the-week__download-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: var(--wp--preset--spacing--20);
  text-decoration: none;
}