/**
 * Magazine Block Editor Styles
 */

.editor-styles-wrapper .ucsc-magazine-block__panels {
    aspect-ratio: auto;
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--20);

    .ucsc-magazine-block__panel {
        position: relative;
        aspect-ratio: 4/3;

        &[inert] {
            opacity: 1;
        }
    }
}