@import "../../../assets/scss/mixins";

/**
 * Magazine Block Styles
 */

.ucsc-magazine-block {
  padding-top: var(--wp--preset--spacing--50);
  padding-bottom: var(--wp--preset--spacing--50);
}

.ucsc-magazine-block__inner {
  display: flex;
  flex-direction: column;

  @include media-query($wp-columns-unstack) {
    flex-direction: row;
    gap: var(--wp--preset--spacing--30);
  }
}

.ucsc-magazine-block__title {
  margin-block-start: 0;
  margin-block-end: var(--wp--preset--spacing--20);
  line-height: var(--wp--custom--line-height--small);
}

.ucsc-magazine-block__title-line-1 {
  display: block;
  font-weight: 300;
}

.ucsc-magazine-block__subtitle {
  margin-block-start: 0;
  margin-block-end: var(--wp--preset--spacing--30);
  
  @include media-query($wp-columns-unstack) {
    margin-block-end: var(--wp--preset--spacing--20);
  }
}

.ucsc-magazine-block__tabs {
  display: flex;
  column-gap: 20px;
  width: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: var(--wp--preset--spacing--30);

  &::after {
    content: '';
    display: block;
    flex: 1 0 calc(30% - 20px);
  }
  
  @include media-query($wp-columns-unstack) {
    flex-direction: column;
    overflow: visible;
    padding-bottom: 0;
    scroll-snap-type: none;

    &::after {
      display: none;
    }
  }
}

.ucsc-magazine-block__tab {
  padding: 0 0 0 var(--wp--preset--spacing--20);
  border-style: solid;
  border-color: var(--wp--preset--color--light-gray);
  border-width: 0 0 0 1px;
  outline: 0 none;
  text-align: left;
  cursor: pointer;
  position: relative;
  background: none;
  flex: 1 0 70%;
  scroll-snap-align: start;

  @include media-query($wp-columns-unstack) {
    border-width: 1px 0 0 0;
    padding: var(--wp--preset--spacing--30) 0;
    width: auto;
    flex: 1;
  }

  &:focus-visible {
    outline: var(--wp--preset--color--black) auto 1px;
    outline-offset: 1px;
  }

  &:last-child {
    border-width: 0 1px;

    @include media-query($wp-columns-unstack) {
      border-width: 1px 0;
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    transition: 0.25s ease-in-out;
  }

  &::before {
    top: calc(var(--wp--preset--spacing--30) + 4px);
    right: 0;
    height: 12px;
    width: 12px;
    border-style: solid;
    border-color: var(--wp--preset--color--ucsc-primary-blue);
    border-width: 1px 1px 0 0;
    transform: translateX(-3px) rotate(45deg) ;
  }

  &::after {
    bottom: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: var(--wp--preset--color--ucsc-primary-blue);

    @include media-query($wp-columns-unstack) {
      height: 4px;
      width: 100%;
    }
  }

  &[aria-selected="true"] {
    &::before {

      @include media-query($wp-columns-unstack) {
        opacity: 1;
        transform: translateX(0) rotate(45deg) ;
      }
    }

    &::after {
      opacity: 1;
    }
  }
}

.ucsc-magazine-block__post-title {
  display: block;
  font-size: var(--wp--preset--font-size--one);
  font-weight: 700;
  line-height: var(--wp--custom--line-height--medium);
  text-wrap: pretty;
  color: var(--wp--preset--color--dark-gray);
  transition: color 0.25s ease-in-out;

  .ucsc-magazine-block__tab:hover &,
  .ucsc-magazine-block__tab:focus-visible & {
    color: var(--wp--preset--color--ucsc-secondary-blue);
  }

  .ucsc-magazine-block__tab[aria-selected="true"] & {
    color: var(--wp--preset--color--ucsc-primary-blue);
  }
}

.ucsc-magazine-block__post-author {
  display: block;
  margin-top: 4px;
}

.ucsc-magazine-block__panels {
  width: 100%;
  
  @include media-query($wp-columns-unstack) {
    position: relative;
    overflow: visible;
    aspect-ratio: 4/3;
    width: 75%;
  }
}

.ucsc-magazine-block__panel {
  transition: opacity 0.4s ease-in-out;

  @include media-query($wp-columns-unstack) {
    position: absolute;
    inset: 0;
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;

    @include media-query($wp-columns-unstack) {
      position: absolute;
      height: 100%;
      aspect-ratio: auto;
    }
  }

  &[inert] {
    opacity: 0;
    position: absolute;

    @include media-query($wp-columns-unstack) {
      position: static;
    }
  }
}

.ucsc-magazine-block__post-excerpt {
  padding-top: var(--wp--preset--spacing--20);

  @include media-query($wp-columns-unstack) {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--wp--preset--color--lightest-gray);
    padding-top: var(--wp--preset--spacing--30);
    padding-left: var(--wp--preset--spacing--30);
    width: min-content;
    min-width: 285px;
  }

  p {
    margin: 0;
  }
}

.ucsc-magazine-block__post-cta {
  display: inline-block;
  margin-block-start: calc(var(--wp--preset--spacing--20) + 4px);
  margin-block-end: 4px;
  white-space: nowrap;

  svg {
    margin-left: 4px;
  }
}