<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"className":"content-region","layout":{"inherit":true}} -->
<main class="wp-block-group content-region" style="margin-top:var(--wp--preset--spacing--50)">
    <!-- wp:group {"layout":{"type":"constrained","contentSize":"44rem","wideSize":"80rem"}} -->
    <div class="wp-block-group"><!-- wp:pattern {"slug":"ucsc-custom-functionality/home-link"} /-->
        
        <!-- wp:ucsc-custom-functionality/post-overline {"name":"ucsc-custom-functionality/post-overline","data":{},"mode":"preview"} /-->

        <!-- wp:post-title {"level":1,"className":"primary-post-title"} /-->
        
        <!-- wp:post-excerpt /-->
        
        <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-gray"},":hover":{"color":{"text":"var:preset|color|ucsc-secondary-blue"}}}},"spacing":{"margin":{"top":"1em","bottom":"0.5em"}}},"textColor":"dark-gray","fontSize":"small"} /-->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"
             style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:post-author-name /-->
        </div>
        <!-- /wp:group -->
        <!-- wp:post-featured-image /-->
        <!-- wp:ucsc-custom-functionality/press-inquiries {"name":"ucsc-custom-functionality/press-inquiries","data":{},"mode":"preview"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained","contentSize":"44rem","wideSize":"80rem"}} /-->
    
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->