<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"className":"content-region","layout":{"inherit":true}} -->
<main class="wp-block-group content-region" style="margin-top:var(--wp--preset--spacing--50)">
    <div
        class="photo-of-the-week-page-title has-ucsc-header-gradient-gradient-background has-white-color is-layout-constrained has-global-padding">
        <h1 class="has-seven-font-size">All Photos of the Week</h1>
    </div>

    <!-- wp:ucsc-custom-functionality/photos-week-loop {"name":"ucsc-custom-functionality/photos-week-loop","data":{},"mode":"preview"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->