<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->

<!-- wp:group {"tagName":"main","className":"content-region","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group content-region" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained","contentSize":"44rem","wideSize":"80rem"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->